@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

body {
  background: rgb(173, 172, 172);
  background-size: cover;
  background-position-y: -80px;
  font-size: 16px;
}
#wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-login {
  max-width: 400px;
  background: rgba(69, 69, 69, 0.811);
  flex-grow: 1;
  padding: 30px 30px 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
}
.form-heading {
  font-size: 25px;
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
}
.form-group {
  border-bottom: 1px solid #fff;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}
.form-group i {
  color: #fff;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
}
.form-input {
  background: transparent;
  border: 0;
  outline: 0;
  color: #f5f5f5;
  flex-grow: 1;
}
.form-input::placeholder {
  color: #f5f5f5;
}
#eye i {
  padding-right: 0;
  cursor: pointer;
}
.DN-DK {
  background: transparent;
  color: #fff;
  text-align: center;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  width: 25%;
  text-transform: uppercase;
  transition: 0.25s ease-in-out;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 2.5%;
}
.DN-DK .link-DN-DK {
  color: #fff;
  width: 100%;
  font-size: 13px;
  font-weight: bolder;
}
.DN-DK:hover {
  background: #fff;
  width: 30%; /* Chiều rộng khi hover */
}
.DN-DK .link-DN-DK:hover {
  color: rgba(69, 69, 69, 0.811);
}
.form-submit {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  display: block;
  color: #fff;
  width: 95%;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 6px 10px;
  transition: 0.25s ease-in-out;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.form-submit:hover {
  border: 1px solid #54a0ff;
  background: #fff;
  color: rgba(69, 69, 69, 0.811);
  width: 100%; /* Chiều rộng khi hover */
}
